In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df_trip = pd.read_csv('trip.csv',error_bad_lines = False)

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [4]:
df_station = pd.read_csv('station.csv')

In [14]:
df_weather = pd.read_csv('weather.csv')
df_weather.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

## What is the average trip duration for a borrowed bicycle?

In [6]:
df_trip[['tripduration']].mean()[0]

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [7]:
common_age = 2020-df_trip[['birthyear']].mode()
common_age

   birthyear
0       33.0

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [33]:
monthly_based = df_weather['Precipitation_In']
mean = monthly_based.mean()
median = monthly_based.median()

In [25]:
mean

0.10506531204644412

In [23]:
median

0.0

## What’s the average number of bikes at a given bike station?

In [26]:
df_station['install_dockcount'].mean()

17.586206896551722

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [28]:
df_station['install_dockcount'].mean()

17.586206896551722

In [29]:
df_station['current_dockcount'].mean()

16.517241379310345

 the mean for the install_dockcount for the modified station is greater than mean for the current_dockcount so it will lose bikes..